html,body{
	min-width:1122px; 
	margin:0; 
	padding:0;
	background-color:#f7f4f1;
}
.clearfix::after{
	content:""; 
	display:table; 
	clear:both;
}
.container{
	width:940px;
	margin:auto;
}
.main-header{
	padding-top:20px; 
	background-color:#000000;
}
.main-navigation{
	float:left;
	width:780px;
	min-height:70px;
	margin-top:20px;
}
.main-navigation>a{
	color:#ffffff;
	text-decoration:none;
	padding-bottom:52px;
	margin-right:10px;
}
.main-navigation>img{
	width:100px; 
	height:20px;
	margin-right:10px;
}
a.shop{
	border-bottom:solid white 5px;
}
.user-block {
	float: right;
	width: 140px;
	min-height: 70px;
	padding-top:30px;
}
a.login{
	color:#ffffff;
}
.breadcrumbs{
	padding-left:0;
}
.breadcrumbs>li{
	display:inline-block; 
	color:black; 
	margin-right:10px;
}
.breadcrumbs a{
	color:rgb(0,0,0);
	text-decoration:none;
}
.breadcrumbs>li:last-child{
	color:grey;
	text-decoration:none;
}
.menu {
	float:left;
	width: 200px;
	min-height: 330px;
	margin-top:10px;
}

.goods {
	float:right;
	margin-top:40px;
	width:700px;
}
.show {
	width:65px;
	background-color:#000000;
	color:#ffffff;
	padding:10px;
	margin-top:50px;
}
.item{
	display:inline-block;
	width:220px;
	margin-right:20px;
	margin-bottom: 40px;
	background-color: #ffffff;
	float:left;
	min-height:285px;
}
.item:nth-child(3n){
	margin-right:0px;
}
.description{
	padding-left:15px;
}
.price{
	background-color:#e5e5e5;
	width:65px;
	padding:10px;
	float:left;
}
.button{
	background-color:#000000;
	color:#ffffff;
	width:50px;
	padding:10px;
	float:left;
}
.move{
	clear:both;
	margin:auto; 
	float:left;
}
.enter{
	background-color:#000000;
	color:#ffffff; 
	padding:10px;
}
.current{
	background-color:#ffffff;
	color:#000000;
}
.main-footer{
	margin-top:65px;
	padding-top:60px;
	padding-bottom:40px;
	background-color:#252525;
	color:#ffffff;
}
.footer-contacts{
	float:left;
	width:320px;
	margin-right:60px;
	min-height:90px;
	padding-top:15px;
}
.footer-social{float:left;
	width:180px;
	min-height:90px;
}
.footer-copyright{
	float:right;
	width:180px;
	min-height:90px;
}
.footer-contacts>a{
	color:#ffffff;
}
.footer-social>a{
	color:#ffffff;
}
.footer-copyright>a{
	color:#ffffff;
	background-color:#000000;
	padding:15px;
}

	