html,body{
	min-width:1122px; 
	margin:0; 
	padding:0;
	background-color:#f7f4f1;
}
.clearfix::after{
	content:""; 
	display:table; 
	clear:both;
}
.container{
	width:940px;
	margin:auto;
}
.main-header{
	padding-top:20px; 
	background-color:#000000;
}
.menu {
	padding-top:20px;
}
.main-navigation{
	float:left;
	width:780px;
	min-height:70px;
}
.main-navigation>a{
	color:#ffffff;
	text-decoration:none;
	padding-bottom:42px;
	margin-right:10px;
}
.main-navigation>img{
	width:100px; 
	height:20px;
	margin-right:10px;
}
a.shop{
	border-bottom:solid white 5px;
}
.user-block {
	float: right;
	width: 140px;
	min-height:70px;
}
a.login{
	color:#ffffff;
	text-decoration:none;
}
.breadcrumbs{
	padding-left:0;
}
.breadcrumbs>li{
	display:inline-block; 
	color:black; 
	margin-right:10px;
}
.breadcrumbs a{
	color:rgb(0,0,0);
	text-decoration:none;
}
.breadcrumbs>li:last-child{
	color:grey;
	text-decoration:none;}
.content {margin-bottom: 35px;
}
.pictures{
	float:left;
	width: 490px;
	min-height: 330px;
	margin-top:40px;
}
.main_picture>img{
	width:460px;
	height:500px;
}
.small_picture{
	display:inline-block;
}
.small_picture>img{
	width:140px; 
	height:150px;
	margin-right:15px;
	margin-top:15px;
}
.description{
	float:right;
	width: 380px;
	min-height: 330px;
	margin-top:80px;
}
.articul{
	float:right;
	color:#e5e5e5;
	margin-right:60px;
}
.price{
	background-color:#e5e5e5;
	padding:15px;
	width:90px;
	float:left;
	margin-bottom:20px;
	margin-left:10px;
}
.button{
	width:70px;
	float:left;
	padding:15px;
	background-color:#000000;
	color:#ffffff;
	margin-bottom:20px;
}
.list>ul{
	list-style: square;
	padding-left:15px;
}
.description>span{
	font-weight:bold;
}
.main-footer{
	margin-top:65px;
	padding-top:60px;
	padding-bottom:40px;
	background-color:#252525;
	color:#ffffff;
}
.footer-contacts{
	float:left;
	width:320px;
	margin-right:60px;
	min-height:90px;
	padding-top:15px;
}
.footer-social{
	float:left;
	width:180px;
	min-height:90px;
}
.footer-copyright{
	float:right;
	width:180px;
	min-height:90px;
}
.footer-contacts>a{
	color:#ffffff;
}
.footer-social>a{
	color:#ffffff;
}
.footer-copyright>a{
	color:#ffffff;
	background-color:#000000;
	padding:15px;
}
